@model KC.Models.ViewModels.Browsing.OffersVM

@{
    ViewData["Title"] = "Offers";
}

<div class="container mt-3">
    <div class="d-flex justify-content-start">
        <h3 class="display-4 mt-3 text-darkgreen fw-bold ms-lg-4">Offers</h3>
    </div>
    
    
<div class="row justify-content-center" style="margin:auto">

    <div class="col-12 col-lg-3">
        <div class="card text-dark bg-light m-1">
            <div class="card-header"><b>Filter</b> your search</div>
            <div class="card-body">
                <h5 class="card-title">Brand</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Brand 1
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Brand 2
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Brand 3
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Brand 4
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Brand 5
                    </li>
                </ul>
                <h5 class="card-title mt-2">Dietary</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Vegetarian
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Organic
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Free from gluten
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Free from added sugar
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Low fat
                    </li>
                </ul>
                <h5 class="card-title mt-2">Pricing</h5>
                <label for="customRange3" class="form-label">Price range</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">£</span>
                    <input type="text" class="form-control" placeholder="Min. price">
                    <span class="input-group-text">to £</span>
                    <input type="text" class="form-control" placeholder="Max. price">
                </div>

            </div>
            <button class="btn btn-success mx-3 mb-2">Update search</button>
        </div>
    </div>

    <div class="col-12 col-lg-9">
        <div class="row justify-content-center" style="margin:auto">
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <partial name="_ProductCardOffer" model="Model.Products[i]" />
            }
        </div>
        </div>

    </div>
</div>