@model KC.Models.ViewModels.Home.ContactUsVM

@{
    ViewData["Title"] = "About";
}

<div class="mt-5">
    <h1>About us</h1>
    <hr />
    <p class="text-body fs-4">We are a team of three Computer Scientists taking on a UX design research project as part of the King's Certificate programme at King's College London Mathematics School.</p>
    <hr />
    <p class="text-body fw-bold fs-5">Please note all products on this site are sourced from <a href="https://www.aldi.co.uk">Aldi</a>. We do not own these product profiles nor the images.</p>
    <hr />
</div>