
<div class="card m-1 bg-lightgreen" style="width: 18rem; border-width: 0px !important;">
    <!--<img src="..." class="card-img-top m-1" alt="Image">
    <div class="card-body">
        <h5 class="card-title p-0 m-0">DisplayName</h5>
    </div>
    <div class="d-grid gap-2 card-footer" style="background-color: transparent !important; border-top-width: 0px !important;">
        <p class="card-text text-success text-center fs-5 fw-bold">DisplayPrice</p>
        <a class="btn btn-outline-success light-green-hover">View</a>
        <a class="btn btn-success">Add to Cart</a>
    </div>-->
</div>